<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <settings>
      
			<!-- 
				Specify databases names to the "value" attribute in order to publishe
				media item to other databases when a form is submitted.
				To add more databases use comma as a separator. (value="web, public")
			-->
      
			<setting name="Wffm.DatabasesForMediaUpload" value="web"/>
			
			<!-- 
				Specify languages names to the value attribute in order to publishe
				media item in other languages when a form is submitted.
				To add more languages use comma as a separator. (value="en, de-DE")
			-->
			
			<setting name="Wffm.LanguagesForMediaUpload" value="en"/>
		</settings>
  
    <pipelines>
      <formUploadFile>
        <processor type="Sitecore.Support.Form.Core.Pipelines.FormUploadFile.Save, Sitecore.Support.67090"
                   patch:intead="*[@type='Sitecore.Form.Core.Pipelines.FormUploadFile.Save, Sitecore.Forms.Core']" />
      </formUploadFile>
    </pipelines>
  </sitecore>
</configuration>